footer, .comm, .form{
    border-width: 2px;
    border-color: black;
border-style: solid;
border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
}

.comm{
    text-align: center;
    padding: 3px;
}

.dateComm{
    font-size: 0.7rem;
}

.form{
    padding: 5px;
}

.addForm{
   min-height: 82vh;
}

.card-img-top{
    height: 40vh;
    object-fit: cover;
}

