{% extends "skeleton.html.twig" %}

{% block titre %}
A propos
{% endblock titre %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="card mt-5">
                <div class="card-header">
                    <h2>Qui suis-je?</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Maecenas ultrices sed metus vel blandit.
                        Nunc eget sem non turpis tincidunt tincidunt.
                        Maecenas auctor gravida eros at aliquet.
                        Praesent et varius odio, in scelerisque arcu.
                        Vivamus sagittis enim et quam tincidunt dignissim.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenean convallis, risus sed porttitor lacinia, quam arcu porttitor risus, ut sollicitudin risus
                        neque
                        sit amet nibh.
                        Curabitur a commodo augue. Phasellus ac imperdiet justo.
                        Sed fringilla posuere nibh, sed porttitor quam finibus mattis.
                        Curabitur finibus varius lacus. Etiam consectetur id mi eget aliquet.
                        Quisque placerat porttitor imperdiet.</p>
                    <hr>
                    <div class="card-body text-center icons" id="footer">
                        <a href="https://gitlab.com/ThomasSeb" target="_blank" title="Gitlab" class="card-link">
                            <i class="fab fa-gitlab" id="gitlab"></i>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}