{% extends "skeleton.html.twig" %}

{% block titre %}
    Editer un article
{% endblock titre %}

{% block content %}
<section class="addForm">
<div class="container-fluid">
    <div class="row">
        <a href="{{ path('accueil') }}"></a>
        <div class="col-6 offset-3 mt-5 form">

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}
</div>
</div>
</div>
</section>
{% endblock content %}