{% extends "skeleton.html.twig" %}

{% block titre %}
    Recherche
{% endblock titre %}

{% block content %}

<div class="container-fluid">
    <div class="row">
            {% for article in articles %}
            <div class="card m-2" style="width: 18rem;">
                    <img src="{{article.url_image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">{{ article.titre_article }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{ article.auteur_article }}
                        {{ article.date_article|date("d/m/Y") }}</h6>
                    <p class="card-text">
                        {{ article.contenu_article|length > 50 ? article.contenu_article|slice(0, 50) ~ '...' : article.contenu_article  }}
                    </p>
                    <a href="{{path('show_article', {id:article.id_article})}}" class="btn btn-primary">Lire plus</a>
            
                </div>
            </div>
            {% endfor %}
            
    </div>
</div>

{% endblock content %}