{% extends "skeleton.html.twig" %}

{% block titre %}
Article
{% endblock titre %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="card m-2">
            <img src="{{article.url_image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">{{ article.titre_article }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{ article.auteur_article }}
                    {{ article.date_article|date("d/m/Y") }}</h6>
                <p class="card-text">{{ article.contenu_article}}</p>


                {% if is_granted('ROLE_ADMIN') %}

                <a href="{{path('edit_article', {id:article.id_article})}}" class="btn btn-warning">Edit</a>
                <br>
                <a href="{{path('delete_article', {id:article.id_article})}}" class="btn btn-danger">Supprimer</a>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="mt-5 mb-5 form">
            {{ form_start(formCom) }}
            {{ form_widget(formCom) }}
            <button class="btn btn-primary">Ajouter</button>
            {{ form_end(formCom) }}
        </div>
    </div>
    <div class="container mb-3">
        <div class="row justify-content-center">
            <div class="col-6">
                {% for commentaire in commentaires %}
                <div class="card comm">
                    <div class="card-header">
                    <h4>{{ commentaire.commentaires_pseudo }} </h4>
                        <h6 class="dateComm">{{ commentaire.commentaires_date|date("d/m/Y") }}</h6>
                    
                </div>
                <div class="card-body">
                    <p> {{ commentaire.commentaires_contenu }} </p>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}